<%- include('includes/header'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-log-2"></div>
        <div class="col-log-8 my-3">
            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead">Seus contactos estão abaixo</p>

            <%- include('includes/messages'); %>

            <% if(contactos?.length > 0) { %>

            <div class="responsive-table">
                <table class="table my-3">
                    <% contactos.forEach(contacto => { %>
                    <tr>
                        <td><%= contacto.nome %></td>
                        <td><%= contacto.apelido %></td>
                        <td><%= contacto.telefone %></td>
                        <td><%= contacto.email %></td>
                        <td><a href="/contacto/index/<%= contacto._id %>">Editar</a></td>
                        <td><a class="text-danger" href="/contacto/excluir/<%= contacto._id %>">Excluir</a></td>
                    </tr>
                    <% }); %>
                </table>

            </div>
            <% } else { %>
                <p class="text-center lead">Sem resultados</p>
            <% } %>
        </div>
        <div class="col-log-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>
